
*.db
*.log
*.lib
*.pdb
*.tlog
*.obj
*.recipe
*.exp
*.ilk
*.ipch
*.pbxproj
*.plist
*.filters
*.vcxproj
*.db-wal
*.sln
*.opendb
*.exe
*.vst3
*.nib
*.db-shm
Builds/VisualStudio2019/.vs/bass-synth/v16/.suo
*.user
*.rc
*.res
Builds/VisualStudio2022/.vs/bass-synth/v16/.suo
*.mm
/Builds
/JuceLibraryCode
